<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пользовательское соглашение</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="C:\Users\yarik\web-projects\build\css\agreements.css">


</head>
  <body>
    <h1>Пользовательское соглашение для сайта</h1>
    <p>Добро пожаловать на наш сайт! При использовании данного сайта, вы соглашаетесь с условиями, описанными в настоящем пользовательском соглашении. Пожалуйста, внимательно ознакомьтесь с ним перед использованием сайта.</p>
    <ol>
        <li>
            <h2>Владение сайтом</h2>
            <p>Настоящий сайт принадлежит и управляется FoodAdvisor. Все права на содержимое сайта, включая тексты, изображения, логотипы, графику, аудио и видео материалы, являются собственностью FoodAdvisor или ее лицензиаров и охраняются законодательством об авторских правах.</p>
        </li>
        <li>
            <h2>Условия использования</h2>
            <ol type="a">
                <li>Пользователь обязуется использовать данный сайт только в законных целях. Запрещается загружать или распространять содержимое, нарушающее авторские или интеллектуальные права третьих лиц, а также содержащее неприемлемый или оскорбительный материал.</li>
                <li>Пользователь несет полную ответственность за любую информацию, предоставленную им на сайте. FoodAdvisor не несет ответственности за любые убытки или повреждения, возникшие в результате использования такой информации.</li>
                <li>FoodAdvisor оставляет за собой право в любое время изменить или удалить любую информацию на сайте без предварительного уведомления пользователя.</li>
                <li>FoodAdvisor не гарантирует точность или достоверность информации на сайте, а также не несет ответственности за любые утраты, возникшие в результате использования такой информации.</li>
            </ol>
        </li>
        <li>
            <h2>Защита персональных данных</h2>
            <ol type="a">
                <li>При использовании данного сайта, пользователь соглашается с политикой конфиденциальности, описанной на сайте [ссылка на политику конфиденциальности].</li>
                <li>FoodAdvisor обязуется защищать персональную информацию пользователей и использовать ее только в соответствии с политикой конфиденциальности.</li>
            </ol>
        </li>
        <li>
            <h2>Внешние ссылки</h2>
            <p>Сайт может содержать ссылки на внешние ресурсы, не контролируемые FoodAdvisor. Мы не несем ответственности за содержимое и политику конфиденциальности таких ресурсов.</p>
        </li>
        <li>
            <h2>Изменения в пользовательском соглашении</h2>
            <p>FoodAdvisor оставляет за собой право в любое время изменять настоящее пользовательское соглашение без предварительного уведомления. Любые изменения вступают в силу с момента их публикации на сайте.</p>
        </li>
        <li>
            <h2>Заключительные положения</h2>
            <p>Настоящее пользовательское соглашение регулируется и толкуется в соответствии с законодательством РФ. Любой спор, возникающий из использования данного сайта, подлежит рассмотрению в арбитражном суде Приморского края.</p>
        </li>
    </ol>
    <p>Спасибо за использование нашего сайта! Если у вас возникли вопросы или нужна дополнительная информация, пожалуйста, свяжитесь с нами по адресу yarik04@hotmail.com.</p>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
